robo-aspirador/node_red_flow.json
[
    {
        "id": "flow_aspirador",
        "type": "tab",
        "label": "Robô Aspirador",
        "disabled": false,
        "info": "Dashboard do Robô Aspirador Inteligente"
    },
    {
        "id": "http_in",
        "type": "http in",
        "z": "flow_aspirador",
        "name": "Receber Dados",
        "url": "/aspirador",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 140,
        "wires": [["parse_json"]]
    },
    {
        "id": "parse_json",
        "type": "json",
        "z": "flow_aspirador",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 140,
        "wires": [["http_resp", "router"]]
    },
    {
        "id": "http_resp",
        "type": "http response",
        "z": "flow_aspirador",
        "name": "OK",
        "statusCode": "200",
        "x": 430,
        "y": 200,
        "wires": []
    },
    {
        "id": "router",
        "type": "switch",
        "z": "flow_aspirador",
        "name": "Tipo de Mensagem",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "simulation_start", "vt": "str"},
            {"t": "eq", "v": "periodic_update", "vt": "str"},
            {"t": "eq", "v": "simulation_end", "vt": "str"},
            {"t": "eq", "v": "comparison", "vt": "str"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 470,
        "y": 140,
        "wires": [
            ["fn_start"],
            ["fn_update", "fn_gauge_coverage", "fn_gauge_energy", "fn_chart_energy"],
            ["fn_end", "fn_chart_comparison"],
            ["fn_comparison"]
        ]
    },
    {
        "id": "fn_start",
        "type": "function",
        "z": "flow_aspirador",
        "name": "Início",
        "func": "const d = msg.payload;\nconst mode = d.config?.use_previous_map ? '🧠 Inteligente' : '🔍 Exploratório';\n\n// Limpar dados anteriores\nflow.set('trajectory', []);\nflow.set('history', flow.get('history') || []);\n\nmsg.payload = `🚀 EXECUÇÃO ${d.execution} INICIADA\\nModo: ${mode}`;\nnode.status({fill:'blue', shape:'dot', text:'Exec ' + d.execution});\nreturn msg;",
        "outputs": 1,
        "x": 670,
        "y": 60,
        "wires": [["debug_main"]]
    },
    {
        "id": "fn_update",
        "type": "function",
        "z": "flow_aspirador",
        "name": "Atualização",
        "func": "const m = msg.payload.metrics || {};\n\n// Salvar trajetória\nlet traj = flow.get('trajectory') || [];\ntraj.push({x: m.x, y: m.y});\nflow.set('trajectory', traj);\n\n// Formatar saída\nmsg.payload = `📊 Exec ${msg.payload.execution} | ` +\n    `Cobert: ${(m.coverage_percent||0).toFixed(1)}% | ` +\n    `Energia: ${(m.energy_consumed||0).toFixed(1)}J | ` +\n    `Tempo: ${(m.time_elapsed_s||0).toFixed(0)}s | ` +\n    `Pos: (${(m.x||0).toFixed(2)}, ${(m.y||0).toFixed(2)})`;\n\nnode.status({fill:'green', shape:'dot', text:(m.coverage_percent||0).toFixed(1) + '%'});\nreturn msg;",
        "outputs": 1,
        "x": 690,
        "y": 100,
        "wires": [["debug_main"]]
    },
    {
        "id": "fn_end",
        "type": "function",
        "z": "flow_aspirador",
        "name": "Fim",
        "func": "const s = msg.payload.summary || {};\nconst exec = msg.payload.execution;\n\n// Salvar no histórico\nlet history = flow.get('history') || [];\nhistory.push({\n    execution: exec,\n    coverage: s.coverage_percent,\n    time: s.total_time_s,\n    energy: s.energy_consumed,\n    distance: s.distance_traveled\n});\nflow.set('history', history);\n\nmsg.payload = `🏁 EXECUÇÃO ${exec} FINALIZADA\\n` +\n    `━━━━━━━━━━━━━━━━━━━━━━\\n` +\n    `✓ Cobertura: ${(s.coverage_percent||0).toFixed(1)}%\\n` +\n    `✓ Tempo: ${(s.total_time_s||0).toFixed(1)}s\\n` +\n    `✓ Energia: ${(s.energy_consumed||0).toFixed(1)}J\\n` +\n    `✓ Distância: ${(s.distance_traveled||0).toFixed(2)}m\\n` +\n    `✓ Colisões: ${s.collisions||0}`;\n\nnode.status({fill:'blue', shape:'ring', text:'Exec ' + exec + ' fim'});\nreturn msg;",
        "outputs": 1,
        "x": 670,
        "y": 140,
        "wires": [["debug_main"]]
    },
    {
        "id": "fn_comparison",
        "type": "function",
        "z": "flow_aspirador",
        "name": "Comparativo",
        "func": "const execs = msg.payload.executions || [];\nif (execs.length === 0) return null;\n\nlet txt = '📈 COMPARATIVO DE EXECUÇÕES\\n━━━━━━━━━━━━━━━━━━━━━━\\n';\n\nexecs.forEach(e => {\n    txt += `Exec ${e.execution}: ${(e.coverage_percent||0).toFixed(1)}% | ` +\n           `${(e.total_time||0).toFixed(0)}s | ` +\n           `${(e.energy||0).toFixed(1)}J\\n`;\n});\n\n// Calcular melhoria\nif (execs.length >= 2) {\n    const first = execs[0];\n    const last = execs[execs.length-1];\n    const effFirst = first.coverage_percent / (first.energy || 1);\n    const effLast = last.coverage_percent / (last.energy || 1);\n    const improvement = ((effLast - effFirst) / effFirst * 100).toFixed(1);\n    txt += `\\n📊 Melhoria de eficiência: ${improvement}%`;\n}\n\nmsg.payload = txt;\nnode.status({fill:'yellow', shape:'dot', text:execs.length + ' execuções'});\nreturn msg;",
        "outputs": 1,
        "x": 700,
        "y": 180,
        "wires": [["debug_main"]]
    },
    {
        "id": "fn_gauge_coverage",
        "type": "function",
        "z": "flow_aspirador",
        "name": "Gauge Cobertura",
        "func": "const m = msg.payload.metrics || {};\nmsg.payload = m.coverage_percent || 0;\nmsg.topic = 'Cobertura (%)';\nreturn msg;",
        "outputs": 1,
        "x": 710,
        "y": 240,
        "wires": [["gauge_coverage"]]
    },
    {
        "id": "fn_gauge_energy",
        "type": "function",
        "z": "flow_aspirador",
        "name": "Gauge Energia",
        "func": "const m = msg.payload.metrics || {};\nmsg.payload = m.energy_consumed || 0;\nmsg.topic = 'Energia (J)';\nreturn msg;",
        "outputs": 1,
        "x": 710,
        "y": 280,
        "wires": [["gauge_energy"]]
    },
    {
        "id": "fn_chart_energy",
        "type": "function",
        "z": "flow_aspirador",
        "name": "Gráfico Energia",
        "func": "const m = msg.payload.metrics || {};\nif (m.energy_consumed === undefined) return null;\n\nmsg.payload = m.energy_consumed;\nmsg.topic = 'Energia (J)';\nreturn msg;",
        "outputs": 1,
        "x": 720,
        "y": 320,
        "wires": [["chart_energy"]]
    },
    {
        "id": "fn_chart_comparison",
        "type": "function",
        "z": "flow_aspirador",
        "name": "Gráfico Evolução",
        "func": "const history = flow.get('history') || [];\nif (history.length === 0) return null;\n\nconst labels = history.map(h => 'Exec ' + h.execution);\nconst coverageData = history.map(h => h.coverage || 0);\nconst energyData = history.map(h => h.energy || 0);\n\nmsg.payload = [{\n    \"series\": [\"Cobertura (%)\", \"Energia (J)\"],\n    \"data\": [coverageData, energyData],\n    \"labels\": labels\n}];\nreturn msg;",
        "outputs": 1,
        "x": 720,
        "y": 360,
        "wires": [["chart_evolution"]]
    },
    {
        "id": "debug_main",
        "type": "debug",
        "z": "flow_aspirador",
        "name": "🤖 Aspirador Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 910,
        "y": 120,
        "wires": []
    },
    {
        "id": "gauge_coverage",
        "type": "ui_gauge",
        "z": "flow_aspirador",
        "name": "Cobertura",
        "group": "aspirador_group_metrics",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Cobertura",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#CA3838", "#E6E600", "#00B500"],
        "seg1": "40",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 240,
        "wires": []
    },
    {
        "id": "gauge_energy",
        "type": "ui_gauge",
        "z": "flow_aspirador",
        "name": "Energia",
        "group": "aspirador_group_metrics",
        "order": 2,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Energia",
        "label": "J",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 300,
        "colors": ["#00B500", "#E6E600", "#CA3838"],
        "seg1": "100",
        "seg2": "200",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "chart_energy",
        "type": "ui_chart",
        "z": "flow_aspirador",
        "name": "Energia Consumida",
        "group": "aspirador_group_energy",
        "order": 1,
        "width": "12",
        "height": "4",
        "label": "Energia Consumida em Função do Tempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#FF7F0E"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 320,
        "wires": [[]]
    },
    {
        "id": "chart_evolution",
        "type": "ui_chart",
        "z": "flow_aspirador",
        "name": "Evolução",
        "group": "aspirador_group_comparison",
        "order": 1,
        "width": "12",
        "height": "3",
        "label": "Evolução por Execução",
        "chartType": "bar",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Aguardando múltiplas execuções...",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#2CA02C", "#FF7F0E", "#1F77B4"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 360,
        "wires": [[]]
    },
    {
        "id": "aspirador_group_metrics",
        "type": "ui_group",
        "name": "Métricas",
        "tab": "aspirador_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aspirador_group_energy",
        "type": "ui_group",
        "name": "Consumo de Energia",
        "tab": "aspirador_tab",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aspirador_group_comparison",
        "type": "ui_group",
        "name": "Comparativo",
        "tab": "aspirador_tab",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aspirador_tab",
        "type": "ui_tab",
        "name": "🤖 Robô Aspirador",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
