Manipulador-Planar/nodered_flow.json
[
    {
        "id": "tab_robotica_v2",
        "type": "tab",
        "label": "Painel Braço Robótico 2-DOF",
        "disabled": false,
        "info": "Dashboard para visualização de métricas do braço robótico planar com controle PID"
    },
    {
        "id": "http_in_planar",
        "type": "http in",
        "z": "tab_robotica_v2",
        "name": "Recebe Dados",
        "url": "/planar",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "http_response_ok",
                "switch_data_type"
            ]
        ]
    },
    {
        "id": "http_response_ok",
        "type": "http response",
        "z": "tab_robotica_v2",
        "name": "OK",
        "statusCode": "200",
        "headers": {},
        "x": 310,
        "y": 80,
        "wires": []
    },
    {
        "id": "switch_data_type",
        "type": "switch",
        "z": "tab_robotica_v2",
        "name": "Filtrar Tipo",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "cycle_metrics",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "event",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "change_metrics"
            ],
            [
                "change_status"
            ]
        ]
    },
    {
        "id": "change_metrics",
        "type": "function",
        "z": "tab_robotica_v2",
        "name": "Processar Dados",
        "func": "var data = msg.payload.data;\n\n// Prepara mensagem de trajetória se existir\nvar trajMsg = null;\nif (data.trajectory && data.trajectory.length > 0) {\n    // Separa X e Y para plotar duas linhas\n    var xSeries = data.trajectory.map(function(pt) { return pt.x; });\n    var ySeries = data.trajectory.map(function(pt) { return pt.y; });\n    \n    trajMsg = {\n        payload: [{\n            \"series\": [\"Eixo X\", \"Eixo Y\"],\n            \"data\": [xSeries, ySeries],\n            \"labels\": [\"\"]\n        }],\n        topic: \"Trajetória do Ciclo\"\n    };\n}\n\n// Settling time (usa o maior entre as duas juntas)\nvar settling = null;\nif (data.settling_time1 !== null || data.settling_time2 !== null) {\n    settling = Math.max(data.settling_time1 || 0, data.settling_time2 || 0);\n}\n\nreturn [\n    { payload: data.mean_error, topic: \"Erro Médio\" },\n    { payload: data.energy, topic: \"Energia\" },\n    { payload: data.max_overshoot, topic: \"Overshoot\" },\n    { payload: msg.payload.cycle, topic: \"Ciclo\" },\n    trajMsg,\n    { payload: settling, topic: \"Settling Time\" }\n];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 200,
        "wires": [
            [
                "chart_error"
            ],
            [
                "gauge_energy"
            ],
            [
                "chart_overshoot"
            ],
            [
                "text_cycle"
            ],
            [
                "chart_trajectory"
            ],
            [
                "gauge_settling"
            ]
        ]
    },
    {
        "id": "change_status",
        "type": "change",
        "z": "tab_robotica_v2",
        "name": "Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.event",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "text_status"
            ]
        ]
    },
    {
        "id": "chart_error",
        "type": "ui_chart",
        "z": "tab_robotica_v2",
        "name": "Erro Médio",
        "group": "group_metrics",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "Erro Médio (°)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "gauge_energy",
        "type": "ui_gauge",
        "z": "tab_robotica_v2",
        "name": "Energia",
        "group": "group_metrics",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Energia (J)",
        "label": "Joules",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "80",
        "seg2": "150",
        "className": "",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "gauge_settling",
        "type": "ui_gauge",
        "z": "tab_robotica_v2",
        "name": "Settling Time",
        "group": "group_metrics",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Settling Time (s)",
        "label": "segundos",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.5",
        "seg2": "1",
        "className": "",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "chart_overshoot",
        "type": "ui_chart",
        "z": "tab_robotica_v2",
        "name": "Overshoot",
        "group": "group_metrics",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "Overshoot Máximo (°)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "chart_trajectory",
        "type": "ui_chart",
        "z": "tab_robotica_v2",
        "name": "Trajetória do Braço",
        "group": "group_trajectory",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Trajetória End-Effector (Azul=X, Laranja=Y)",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Aguardando fim do ciclo...",
        "dot": false,
        "ymin": "-0.5",
        "ymax": "0.8",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "text_status",
        "type": "ui_text",
        "z": "tab_robotica_v2",
        "name": "Status",
        "group": "group_status",
        "order": 1,
        "width": "6",
        "height": "1",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "text_cycle",
        "type": "ui_text",
        "z": "tab_robotica_v2",
        "name": "Ciclo",
        "group": "group_status",
        "order": 2,
        "width": "6",
        "height": "1",
        "label": "Ciclo:",
        "format": "{{msg.payload}} / 6",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "group_metrics",
        "type": "ui_group",
        "name": "📊 Métricas de Desempenho",
        "tab": "tab_dash_braco",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_trajectory",
        "type": "ui_group",
        "name": "📈 Trajetória",
        "tab": "tab_dash_braco",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_status",
        "type": "ui_group",
        "name": "🎮 Controle",
        "tab": "tab_dash_braco",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "tab_dash_braco",
        "type": "ui_tab",
        "name": "🤖 Braço Robótico 2-DOF",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
